<%= form_for @specsheet, html: { class: "select_bowl_amt" } do |f| %>
<div class="field">
	<%= f.hidden_field :id %>
	<%= label :bowls, 'Number of Bowls'%> <br />
	<%= radio_button_tag(:bowls, 1, params[:bowls]) %> 
	<%= label_tag :bowls, 'Single Bowl', :class => 'specsheet' %> <br />
	<%= radio_button_tag(:bowls, 2, params[:bowls]) %>
	<%= label_tag :bowls, 'Double Bowl', :class => 'specsheet' %> <br />
	<%= radio_button_tag(:bowls, 3, params[:bowls]) %> 
	<%= label_tag :bowls, 'Triple Bowl', :class => 'specsheet' %> <br />
</div>

<%= f.submit %>
<% end %>