<h3><%= @specsheet.name %></h3>
<div class = "row" id = "bowl-number">
	<fieldset>
		<legend>What type of sink are you building?</legend>
		<%= form_for @specsheet, html: { class: "select_bowl_amt" } do |f| %>
			<%= f.hidden_field :id %>
			<div class="large-12 columns">
			<label>Number of Bowls</label>
				<%= radio_button_tag(:bowls, 1, params[:bowls]) %> 
				<%= label_tag :bowls, 'Single Bowl', :class => 'specsheet' %> 
				<%= radio_button_tag(:bowls, 2, params[:bowls]) %>
				<%= label_tag :bowls, 'Double Bowl', :class => 'specsheet' %> 
				<%= radio_button_tag(:bowls, 3, params[:bowls]) %> 
				<%= label_tag :bowls, 'Triple Bowl', :class => 'specsheet' %> </br>
			<%= f.submit "Create bowls", :class => "button [tiny]", :id => "button"%>
		</div>
		<% end %>
	</fieldset>
</div>

<div class ="row">
<div class="large-12 columns" id="update-bowl-container"></div>
</div>

<div class = "row">
	<fieldset>
	<legend>Configuration</legend>
		<%= form_for @specsheet do |f| %>
			<row>
			<div class="large-4 columns">
				<div class="field">
					<%= f.label :installation, 'Installation' %> <br />
					<%= f.hidden_field :installation, value: ''%>
					<%= f.radio_button :installation, 'undermount', :id => "undermount" %>
					<%= f.label :installation, 'Undermount' %> <br />
					<%= f.radio_button :installation, 'overmount', :id => "overmount" %>
					<%= f.label :installation, 'Overmount' %><br />
				</div>
			</div>
			<div class="large-4 columns">
				<div class="field">
					<%= f.label :corner_radius, 'Corner Radius' %> <br />
					<%= f.hidden_field :corner_radius, value: '' %>
					<%= f.radio_button :corner_radius, '0mm', :id => "0mm" %> 
					<%= f.label :corner_radius, '0mm' %> <br />
					<%= f.radio_button :corner_radius, '10mm', :id => "10mm" %> 
					<%= f.label :corner_radius, '10mm' %> <br />
					<%= f.radio_button :corner_radius, '25mm', :id => "25mm" %> 
					<%= f.label :corner_radius, '25mm' %> <br />
					<%= f.radio_button :corner_radius, '55mm', :id => "55mm" %>
					<%= f.label :corner_radius, '55mm' %> <br />
				</div>
			</div>
			<div class="large-4 columns">
				<div class="field">
					<%= f.label :drain_location, 'Drain Location' %> <br />
					<%= f.hidden_field :drain_location, value: '' %>
					<%= f.radio_button :drain_location, 'center' %> 
					<%= f.label :drain_location, 'Center' %> <br />
					<%= f.radio_button :drain_location, 'rear' %> 
					<%= f.label :drain_location, 'Rear/Offset' %> <br />
					<%= f.radio_button :drain_location, 'left' %> 
					<%= f.label :drain_location, 'Left' %> <br />
					<%= f.radio_button :drain_location, 'right' %>
					<%= f.label :drain_location, 'Right' %> <br />
				</div>
			</div>
			</row>
			<row>
				<div class="large-4 columns">
					<%= f.label :drain_size, 'Drain Size' %> <br />
					<%= f.hidden_field :drain_size, value: '' %>
					<%= f.radio_button :drain_size, '3.5"' %>
					<%= f.label :drain_size, '3.5"' %> <br />
					<%= f.radio_button :drain_size, '2.25"' %>
					<%= f.label :drain_size, '2.25"' %><br />
				</div>
				<div class="large-4 columns">
					<%= f.label :divider, 'Divider' %> <br />
					<%= f.hidden_field :divider, value: '' %>
					<%= f.radio_button :divider, 'normal', :id => "divider_normal" %>
					<%= f.label :divider, 'Normal' %> <br />
					<%= f.radio_button :divider, 'lower', :id => "divider_lower" %>
					<%= f.label :divider, 'Lower/Normal' %> <br />
					<%= f.radio_button :divider, 'thin', :id => "divider_thin" %>
					<%= f.label :divider, 'Lower/Thin' %> <br />
				</div>
			</row>
			<row>
				<div class="large-12 columns" id ="button">
				<%= f.submit :class => "button" %>
				</div>
			</row>
		<% end %>
	</fieldset>
</div>

<div class="row">
<script id="bowls" type="text/html">
	<div class="bowl-form">
		<fieldset>
		<legend>Bowl Measurements</legend>
			<form accept-charset="UTF-8" action="{{ url }}" class="edit_bowl" id="edit_bowl_{{ id }}" method="post">
			  <div style='margin:0;padding:0;display:inline'>
				<input name='_method' type='hidden' value='patch' />
				<input type="hidden" name="bowlId" value="{{ id }}">
				</div>
					<label for="bowl_left_right">Left to Right</label> <br>
					<input class="bowl_left_right" max="32" min="8" name="bowl[left_right]" type="number">

					<label for="bowl_front_back">Front to Back</label> <br>
					<input class="bowl_front_back" max="25" min="8" name="bowl[front_back]" type="number">

					<label for="bowl_depth">Depth</label> <br>
					<input class="bowl_depth" max="15" min="3" name="bowl[depth]" type="number">

					<label for="bowl_depth">Bottom Grid
				        <select name="bowl[bottom_grid]">
				          <option value="true">Include</option>
				          <option value="false">Do not Include</option>
				        </select>
				    </label>
				    <label for "colander">Colander
				        <select name="bowl[colander]">
				          <option value="true">Include</option>
				          <option value="false">Do not Include</option>
				        </select>
				    </label>

				<input name="commit" type="submit" value="Save" class = "button" id ="{{ id }}" method = "post">
			</form>
		</fieldset>
	</div>
</script>
</div>
</div>


</script>
