<h2>New Specsheet</h2>

<%= form_for [@specsheet] do |f| %>
	<% if @specsheet.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@specsheet.errors.count, "error") %> prohibited this reservation from being saved:</h2>

        <ul>
        <% @specsheet.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

	<div class="field">
		<%= f.label :name %> <br />
		<%= f.text_field :name %>
	</div>

<%= f.submit %>

<% end %>




