<%= @specsheet.status %>
<h3><%= @specsheet.name %> </h3>
<ul>
  <li><%= @specsheet.number_of_bowls %></li>
  <li><%= @specsheet.installation %></li>
  <li><%= @specsheet.corner_radius %></li>
  <li><%= @specsheet.drain_location %></li>
  <li><%= @specsheet.drain_size %></li>
  <li><%= @specsheet.divider %></li>
</ul>

<h3>Bowls</h3>

	<% @specsheet.bowls.each do |bowl| %>
		<%= bowl.left_right %><br />
		<%= bowl.front_back %><br />
		<%= bowl.depth %><br />
		<%= bowl.bottom_grid %><br />
		<%= bowl.colander %><br />
	<% end %>
