<%= form_for (@specsheet) do |f| %>
	<div class="field">
		<%= f.label :name %> <br />
		<%= f.text_field :name %>
	</div>

	<div class="field">
		<%= f.label :number_of_bowls, 'Number of Bowls' %> <br />
		<%= f.radio_button :number_of_bowls, '1' %> 
		<%= f.label :number_of_bowls, 'Single Bowl' %> <br />
		<%= f.radio_button :number_of_bowls, '2' %> 
		<%= f.label :number_of_bowls, 'Double Bowl' %> <br />
		<%= f.radio_button :number_of_bowls, '3' %> 
		<%= f.label :number_of_bowls, 'Triple Bowl' %> <br />
		
	</div>

	<div class="actions"><%= f.submit %></div>

<% end %>

