<h1>Bowls</h2>

<% @specsheet.bowls.each do |bowl| %>

<%= form_for [@specsheet, bowl] do |f| %>
	
	<div class="field">
		<%= f.label :left_right, 'Left to Right' %> <br />
		<%= f.number_field :left_right, in: 8..32 %>
	</div>

	<div class="field">
		<%= f.label :front_back, 'Front to Back' %> <br />
		<%= f.number_field :front_back, in: 8..25 %>
	</div>

	<div class="field">
		<%= f.label :depth, 'Depth' %> <br />
		<%= f.number_field :depth, in: 3..15 %>
	</div>

	<div class="field">
		<%= f.label :bottom_grid, 'Bottom Grid' %> <br />
		<%= f.radio_button :bottom_grid, true %>
		<%= f.label :bottom_grid, 'Include' %> <br />		
		<%= f.radio_button :bottom_grid, false %>
		<%= f.label :bottom_grid, 'Do not include' %> <br />
	</div>


	<div class="field">
		<%= f.label :colander, 'Colander' %> <br />
		<%= f.radio_button :colander, true %>
		<%= f.label :colander, 'Include' %> <br />		
		<%= f.radio_button :colander, false %>
		<%= f.label :colander, 'Do not include' %> <br />
	</div>


	<div class="actions"><%= f.submit %></div>

<% end %>

<% end %>
