<div class="small-11 medium-9 large-9 large-centered columns">
<h4>Sign up if you want to save your specsheet</h4>
<div class = "panel">
<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email, :placeholder => 'Enter your e-mail...' %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, :placeholder => 'Choose a password' %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, :placeholder => 'Enter the password again' %>
  </div>
  <%= f.submit :class => "button expand "%>
<% end %>
</div>
</div>